div {
  position: absolute;
  background-color: red;
  width: 2px;
  height: 100%;
  animation: scrollingLine 3s infinite;
}

@keyframes scrollingLine {
  0% {
    margin-left: 0%;
  }

  100% {
    margin-left: 98%;
  }
}